.modal__container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.modal__container .modal {
  width: 1000px;
  height: 500px;
  background-color: #fff;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: scroll;
}

.modal__container .modal .modal__button {
  position: relative;
  float: right;
  transform: translate(-100%, 0%);
  border-radius: 0px;
}
